// Importar Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";

// Estilos globales
html, body {
  height: 100%;
  background: linear-gradient(to bottom right, #0e3964, #582213);
  background-attachment: fixed;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Estilos específicos para cards
.card {
  width: 18rem;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6c757d;
}

.card-text {
  font-size: 1rem;
  color: #333;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
