.form-wrapper {
    background-color: #7198c0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .input-field {
    border-radius: 5px;
  }
  
  .submit-button {
    background-color : #10067a;
    color: white;
  }
  