.form-wrapper {
  background: linear-gradient(to bottom right, #582213, #0e3964);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  align-items: center; 
}

.input-field {
  border-radius: 5px;
}

.submit-button {
  border-radius: 5px;
  background-color: #020c15;
}

.header-gif {
  width: 100%; 
  max-width: calc(100% - 40px); 
  height: 150px; 
}

.suggestions-button {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.suggestions-button .btn {
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
}

.suggestions-button .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions-button .btn:focus {
  outline: none;
}

.suggestions-button .btn-primary {
  color: #fff;
  background-color: #431616;
  border-color: #4e0101;
}

.suggestions-button .btn-outline-primary {
  color: #995757;
  border-color: #6d1717;
}

.suggestions-button .btn-outline-primary:hover {
  color: #fff;
  background-color: #b82a14;
}
